/****************
Template: http://startbootstrap.com/template-overviews/scrolling-nav/
with Custom CSS by www.kristietaylor-muise.ca
****************/

/*GLOBAL FORMATTING**********************/

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Vollkorn', serif;
    color:#383838;
    font-size: 16px;
    font-weight:400;
    line-height: 1.5;
}

/*TYPOGRAPHY*******************************/

a { color: #bb2424; }
a:hover { color:#981515; }

p {
  margin: 5px 0 25px;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 30px;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
}

ol {
    margin-bottom:25px;
}

.site-title {
    font-size:4em;
    color:#fff;
    text-shadow: 1px 1px 1px #630000;
}

.site-description {
    color: #efe2e2;
    font-size:1.8em;
    font-style:italic;
}

.site-components a {
    border: 1px solid #897070;
    width:100%;
    color:#cdbaba;
    text-align:center;
    padding:10px 20px;
    float:left;
    font-size:1em;
    margin-bottom:1em;
}

.site-components div {
    padding-left: 4px;
    padding-right: 4px;
}

a#current-page  {
    color:#fff;
    background-color:#4d2a2a;
}

.glyphicon-share {
  content: "\e066";
  font-size: 0.7em;
  padding-left: 1em;
}

.site-components p {
    color:#d5abab;
    text-align:center;
    font-size:1.5em;
    width:3%;
    margin-left:2%;
    float:left;
}

.site-components a#far-left {
    width:95%;
}

.site-components a:hover {
    text-decoration:none;
    background-color:#4d2a2a;
    color:#fff;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
      border-top: 1px solid #c8b3b3;
}

.table>thead>tr>th {
  vertical-align: bottom;
  border-bottom: 2px solid #c8b3b3;
}

th {
    font-weight: normal;
    font-size: 20px;
}

/*CODE ELEMENTS*******************************/

code {
    color: #000;
    background-color: #eddfdf;
}

.ep-type {
    color: #e6c8c8;
}

.ep-base {
    color: #c4d4dc;
}

.ep-path {
    color: #eceff1;
}

.ep-param {
    color:#f1edcc;
}

.endpoint {
    background-color:#6e5656;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    padding:10px;
}

pre {
    background-color: #fff8f8;
}

section pre.prettyprint {
	padding: 13px;
	word-wrap: normal;
}

/*NAVIGATION*******************************/

.navbar-default {
  background-color: #381515;
  border:0;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand {
    color: #eee;
    text-shadow: 1px 1px 1px #000000;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
     color:#eee;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color:#eee;
    background-color: #2f0404;
    text-shadow: 1px 1px 1px #470000;
}

/*LAYOUT*******************************/

.intro-section {
    height: 100%;
    max-height:650px;
    padding-top: 13%;
    /* background-image:url('../images/subtlenet2.png');*/
    background-color: #563a3a;
}

.description-section, .course-material-section, .project-ideas-section, .online-resources-section, .footer-section {
    padding-top: 70px;
    padding-bottom: 70px;
}

.description-section {
    background:#f9f1f1;
}

.course-material-section {
    background:#f5ebeb;
}

.project-ideas-section {
    background:#f5ebeb;
}

.online-resources-section {
    background:#f9f1f1;
}

.footer-section {
    background:#f9f1f1;
}

.footer-section img {
    margin-right:30px;
}

.footer-section ul {
    float:right;
}

.copy {
   list-style-type:none;
}

/*MEDIA QUERIES*******************************/

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}


@media only screen and (max-width: 1197px) { /* Smaller than standard 960 (devices and browsers) */

  .site-components a {
        font-size: 0.9em;
        padding: 10px 8px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) { /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
 .site-title {
      font-size: 2.5em;
      margin-top: 100px;
      text-align: center;
    }

    .site-description {
      font-size: 1.3em;
      text-align: center;
    }

    .site-components p {
        display:none;
    }

    .site-components a#far-left {
      width: 100%;
    }
}

@media only screen and (max-width: 479px) { /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */

    body {
        font-size: 14px;
        line-height: 1.4;
    }

    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 20px;
    }

    th {
      font-size: 16px;
    }

    .site-title {
      font-size: 1.8em;
      margin-top: 100px;
      text-align: center;
    }

    .site-description {
      font-size: 1.3em;
      text-align: center;
    }

    .components {
      font-size: 1.1em;
    }

    .site-components p {
        display:none;
    }

    .site-components a#far-left {
      width: 100%;
    }

    .copy {
      margin-top: 50px;
    }
}

